body{
    background-color: #FFFEF9;
    font-family: "Poppins";
    color: #363636;
}

a{
    font-family: "Poppins";
}

p{
    font-family: "Poppins";
}


h1{
  font-size: 40px;
  color: #363636;
}

h3{
    font-weight: 600;

}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


.shadow-top {
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
}

